<!--
  Generated template for the DetalleSesionesPaquetePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sesiones del paquete {{paquete ? paquete.nombre : ''}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list reorder="editar" (ionItemReorder)="reorderItems($event)">
    <ion-item *ngFor="let sesion of sesionesPaquete">
      <ion-icon *ngIf="sesion.activo" color="secondary" item-start name="arrow-dropright"></ion-icon>
      <h2>Sesión #{{sesion.id}}</h2>
      <p>{{sesion.servicios | joins}}</p>

      <button *ngIf="editar" ion-button item-end large color="danger" clear (click)="eliminar(sesion)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-fab *ngIf="editar" right bottom>
    <button ion-fab [disabled]="!advertencia" (tap)="agregar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab *ngIf="advertencia && editar" left bottom>
    <button ion-fab mini style="background: #FFD700" ion-fab (tap)="showAdvertencia()">
      <ion-icon name="alert"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer>
  <button *ngIf="editar" ion-button type="submit" icon-right block color="secondary" [disabled]="!continuar" (click)="guardar()">
    Guardar
    <ion-icon name="checkmark"></ion-icon>
  </button>

  <button *ngIf="editar" ion-button icon-right block color="danger" (click)="cancelar()">
    Cancelar
    <ion-icon name="close"></ion-icon>
  </button>

  <button *ngIf="!editar" ion-button icon-right block color="primary" (click)="cerrar()">
    Continuar
  </button>
</ion-footer>