<!--
  Generated template for the ReservaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col>
        <ion-title>Reservar para {{cliente.nombre}}
          <br/> {{horaSeleccionada}}</ion-title>
      </ion-col>
      <ion-col>
        <button ion-button icon-right color="danger" clear float-right [hidden]="cantidad === 0" (tap)="ver($event)">
          {{cantidad}}
          <ion-icon name="list" item-end></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="grid-full" *ngFor="let servicio of servicios">
    <ion-card>
      <img *ngIf="servicio.imagen" [src]="servicio.imagen" width="100%">
      <ion-card-content>
        <h2>{{servicio.nombre}}</h2>
        <p>{{servicio.descripcion}}.
          <br/>Duración: {{servicio.duracion_MIN}} min.</p>
      </ion-card-content>

      <ion-item>
        <p item-start>Precio: {{servicio.valor| currency : USD: symbol: '4.0' }}</p>
        <button ion-button item-end icon-start outline (tap)="agregar(servicio)" [disabled]="!servicio.activo">
          Agregar
        </button>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>