<!--
  Generated template for the ReservaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="terms" color="light">
      <ion-segment-button value="paquetes">
        Paquetes
      </ion-segment-button>

      <ion-segment-button value="servicios">
        Servicios
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding [ngSwitch]="terms" *ngIf="idcarrito">
  <ion-list *ngSwitchCase="'paquetes'">
    <ion-item-group *ngFor="let grupo of grupoPaquetes">
      <ion-item-divider sticky color="light">
        <ion-avatar item-start *ngIf="grupo.grupo.imagen">
          <img [src]="grupo.grupo.imagen" />
        </ion-avatar>
        <strong>{{grupo.grupo.nombre}}</strong>
      </ion-item-divider>
      <ion-row>
        <ion-col #item *ngFor="let paquete of grupo.paquetes" class="cell-1">
          <ion-card>
            <img *ngIf="paquete.imagen" [src]="paquete.imagen" width="100%" (tap)="agregarServiciosPaquete(paquete)">
            <ion-card-content (tap)="agregarServiciosPaquete(paquete)">
              <h2 style="margin-top: 0px; margin-bottom: 5px"><strong>{{paquete.paquete.nombre}}</strong></h2>
              <p style="margin: 0px">{{paquete.paquete.descripcion}}.</p>
              <p style="margin: 0px">Valor: {{paquete.paquete.valor| currency : USD: symbol: '4.0' }}</p>
              <ion-note *ngIf="paquete.sesion">Sesión {{paquete.sesion}}</ion-note>
            </ion-card-content>

            <ion-row>
              <ion-col>
                <ion-buttons end>
                  <button ion-button outline small (click)="sesiones(paquete)">Sesiones</button>
                </ion-buttons>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </ion-list>

  <ion-list *ngSwitchCase="'servicios'">
    <ion-item-group *ngFor="let grupo of grupoServicios">
      <ion-item-divider sticky color="light">{{grupo.grupo}}</ion-item-divider>
      <ion-row>
        <ion-col #item *ngFor="let servicio of grupo.servicios" class="cell-1" (tap)="agregarServicio(servicio)">
          <img *ngIf="servicio.imagen" [src]="servicio.imagen" width="100%">
          <br />
          <h2 style="margin-top: 0px; margin-bottom: 5px"><strong>{{servicio.nombre}}</strong></h2>
          <p style="margin: 0px">{{servicio.descripcion}}.</p>
          <p style="margin: 0px">Valor: {{servicio.valor| currency : USD: symbol: '4.0' }}</p>
        </ion-col>
      </ion-row>
    </ion-item-group>
  </ion-list>
</ion-content>