<!--
  Generated template for the ReservaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-segment [(ngModel)]="terms" color="light">
      <ion-segment-button value="paquetes">
        Paquetes
      </ion-segment-button>

      <ion-segment-button value="servicios">
        Servicios
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="grid-full" *ngIf="idcarrito">
    <ion-card color="dark" *ngFor="let servicio of paquetes">
      <ion-card-content (tap)="agregar(servicio)">
        <h2>
          <strong>{{servicio.nombre}}</strong>
        </h2>
        <p>{{servicio.descripcion}}.</p>
        <p *ngIf="servicio.sesiones > 1">{{servicio.sesiones}} sesiones.</p>
        <ion-item color="dark">
          <p item-start>Valor: {{servicio.valor| currency : USD: symbol: '4.0'}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>