   
page-reserva {
    .grid-full ion-row {
        height: 100%;
        padding: 0;
        flex-wrap: wrap;
    }
      
    .grid-full ion-col {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0px 0px;
    }
    
    .cell-1 {
        background-color: rgb(255, 255, 255);
        border: thin solid rgb(182, 182, 182);
    }

    .actionSheet1{
        height: 100px
    }

    .ion-card {
        position: relative;
        text-align: center;
    }

    .card-title {
        position: absolute;
        top: 9%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 0 2px #000;
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 30%;
        width: 100%;
        color: #fff;
        text-shadow: 0 0 2px #000;
    }

    .card-precio {
        font-size: 1.0em;
        position: absolute;
        top: 40%;
        width: 100%;
        color: #fff;
        text-shadow: 0 0 2px #000;
    }
}
