<!--
  Generated template for the AgendaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title *ngIf="administrador">AGENDA</ion-title>
    <ion-title *ngIf="!administrador">AGENDA {{ usuario.nombre | uppercase }}</ion-title>

    <ion-toolbar>
      <ion-row>
        <ion-col>
          <span float-end ion-datepicker (ionChanged)="setDate($event);" [max]="maxDate" [min]="initDate2" [value]="initDate" [showMaxAndMin]="true"
            [disabledDates]="disabledDates" clear class="ScheduleDate" [localeStrings]="constantes.LOCALE_STRINGS">
            <span>
              <button ion-button icon-left color="light" clear>
                <ion-icon name="clipboard"></ion-icon>
                {{initDate | date}}
              </button>
            </span>
          </span>
        </ion-col>
        <ion-col>
          <button *ngIf="administrador" color="light" float-end ion-button outline (click)="filtroPerfiles()">{{usuario.nombre}}</button>
        </ion-col>
      </ion-row>
      <ion-segment [(ngModel)]="terms" color="light" (ionChange)="updateHorariosInicial()">
        <ion-segment-button value="">
          Todo
        </ion-segment-button>

        <ion-segment-button value="disponible">
          Disponible
        </ion-segment-button>

        <ion-segment-button value="reservado">
          Reservado
        </ion-segment-button>

        <ion-segment-button value="no-disponible">
          No disponible
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding no-tap-scroll="true">
  <ion-list>
    <ion-item-group *ngFor="let horario of horarios | search : terms">

      <ion-item-divider sticky color="light">
        <ion-label>
          {{horario.grupo}}
        </ion-label>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let disponibilidad of horario.disponibilidad" #slidingItem [attr.track]="disponibilidad.estado | lowercase"
        [id]="disponibilidad.evento">

        <ion-item>
          <h2>{{disponibilidad.fechaInicio | date: 'hh:mm a'}} &mdash; {{disponibilidad.fechaFin | date: 'hh:mm a'}}</h2>
          <ion-note *ngIf="disponibilidad.cliente.nombre">{{disponibilidad.cliente.nombre}}: {{disponibilidad.servicio | joins}}</ion-note>
          <p>{{disponibilidad.estado}}</p>

          <button ion-button *ngIf="disponibilidad.estado === constantes.ESTADOS_RESERVA.DISPONIBLE && disponibilidad.fechaFin >= actual"
            clear item-end (click)="reservar(disponibilidad)">Reservar</button>
        </ion-item>

        <ion-item-options>
          <button ion-button color="danger" (click)="cancelar(slidingItem, disponibilidad)" *ngIf="disponibilidad.estado === constantes.ESTADOS_RESERVA.RESERVADO || disponibilidad.estado === constantes.ESTADOS_RESERVA.EJECUTANDO">
            Cancelar cita
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>