<!--
  Generated template for the PagoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pendientes de pagos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-group *ngFor="let pendientes of pendientesPago">
      <ion-item-divider sticky color="light" *ngIf="pendientes.data.length > 0">
        <ion-label>
          {{pendientes.grupo}}
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let pendiente of pendientes.data">
        <h2 style="color: #f53d3d">{{pendiente.nombrecliente}} - {{pendiente.total | currency:'USD':'symbol':'4.0'}}</h2>
        <p>{{pendiente.nombreservicios}}</p>
        <p>Realizado por: {{pendiente.nombreusuario}}</p>

        <button ion-button color="danger" item-end (click)="pagar(pendiente)">Pagar</button>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>